body {
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
color:#434455;
background-color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Roboto", sans-serif;
	margin: 0;
	padding: 0;
}

ul, ol, a {
	list-style-type: none;
	text-decoration: none;
}

button {
	cursor: pointer;
}

/* ---------------------------------------------------------------------- */

/* ----------------------BODY------------------------- */


/* ----------------------Header------------------------- */

.header {
	background: white;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
}

.container {
	max-width: 1158px;
	padding: 0 15px;   
	margin: 0 auto; 
	outline: 2px solid red;
	display: flex;

	
}

.header-navigation {
	display: flex;

}
.web-link {
color: #4D5AE5;
font-family: Raleway, sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
padding: 25.5px 0px 25.5px 156px;
margin-right: 76px;
}

.web-span {
	color:#2E2F42;
	font-family: Raleway, sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}

.header-list {
	display: flex;
	padding: 24px 0;
	gap: 40px;
	margin: 0;

}

.header-item {
}
.header-item-link {
	color:#2E2F42;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.50;
	letter-spacing: 0.02em;
}

.header-item-link:hover,
.header-item-link:focus {
color:#404BBF;
font-size: 16px;
font-weight: 500;
line-height: 1.50; /* 150% */
letter-spacing: 0.02em;
}

.address {
font-style: normal;
}
.address-list {
	display: flex;
	padding: 24px 0;
	gap: 40px;
	margin: 0;
}
.address-item {
}
.address-item-link {
	color:#434455;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.50;
	letter-spacing: 0.02em;
}

.address-item-link:hover,
.address-item-link:focus {
	color:#404BBF;
	font-family: Roboto, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px; /* 150% */
	letter-spacing: 0.32px;
}

/* ---------------------------------------------------------------------- */

/* ----------------------Main------------------------- */

.hero {
	background-color: #2E2F42;
}

.hero-container {
display: block;
padding-top: 188px;
padding-bottom: 188px;
}

.hero-title {
	color: white;
	text-align: center;
	font-size: 56px;
	font-weight: 700;
	line-height: 1.07;
	letter-spacing: 0.02em;
	margin: 0 auto;
	max-width: 496px;
	/* border: 1px red solid; */

}

.button-container{
	padding: 0 470px 0 470px;
	margin-top: 48px;
}

.hero-btn {
color: white;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.50;
letter-spacing: 0.04em;
background-color: #4D5AE5;
display: inline-flex;
padding: 16px 32px;
align-items: flex-start;
gap: 10px;
border-radius: 4px;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
border: 1px red solid;
text-align: center;


}

.hero-btn:hover,
.hero-btn:focus {
color: white;
font-size: 16px;
font-weight: 500;
line-height: 1.50;
letter-spacing: 0.04em;
background:#404BBF;
}

.priorities {
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
 }

.priorities-list {
	display: flex;
	gap: 24px;
	padding: 120px 0;
	margin: 0;
}
.priorities-item {
}
.priorities-titles {
	color:#2E2F42;
	font-size: 20px;
	font-weight: 500;
	line-height: 1.20;
	letter-spacing: 0.02em;
	background-color: #FFFFFF;
	margin: 0;
	margin-bottom: 8px;
}

.priorities-text {
color:#434455;
font-size: 16px;
line-height: 1.50;
letter-spacing: 0.02em;
}

.team {
	background-color: #F4F4FD;
}

.team-container {
	display: block;
	padding-top: 120px;
	padding-bottom: 120px;

}

.our {
	display: block;
	color: #2E2F42;
	text-align: center;
	font-family: "Roboto", sans-serif;
	font-size: 36px;
	font-weight: 700;
	line-height: 1.11;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	margin: 0 auto;
	margin-bottom: 72px;
	}

.team-list {
	display: flex;
	gap: 24px;
}
.team-items {
background-color: #FFFFFF;

}

.team-img {
	margin-bottom: 32px;
}

.modifier {
	text-align: center;
}

.team-text {
color:#434455;
text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 1.50;
letter-spacing: 0.02em;
background-color: #FFFFFF;
padding-bottom: 32px;
}

.Portfolio {
}
.Portfolio-list {
}
.Portfolio-items {
}
.Portfolio-img {
}

/* ---------------------------------------------------------- */

/* ----------------------Footer------------------------- */

.footer {
	background-color: #2E2F42;
}


.footer .web-span {
	color:#f4f4fd;
}


.footer-text {
color:#F4F4FD;
font-size: 16px;
font-weight: 400;
line-height: 1.50;
letter-spacing: 0.02em;
}
